@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@500&family=Montserrat:wght@100;300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ibarra Real Nova', serif,'Montserrat', sans-serif;
  background-color: white;
}

.container {
  max-width: 80%;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}


ul{
  list-style: none;
}

button {
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  padding: 10px 18px;
  background-color: blueviolet;
  color: white;
  border: none;
}

button i {
  margin-right: 5px;
}