header {
    background-color: white;
    height: 11vh;
    padding: 1px 0;
    top: 0;
    z-index: 999;
    box-shadow: 0 7px 32px rgb(0 22 84 / 11%);
}

header a{
    font-weight: 500;
    transition: 0.5s;
    margin-left: 30px;
    font-size: 20px;
}

header span {
    width: auto;
    border-radius: 50px;
    background-color: blueviolet;
    padding: 0 6px;
    color: white;
    font-weight: 400;
    margin-right: 5px;
}

header a:hover {
    color: blueviolet;
}

header h4{
    font-weight: 600;
    margin-right: 20px;
}

header .toggle {
    display: none;
}